.nunito-font {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
}

body {
  margin: 0;
  font-family: Nunito, sans-serif;
  background: rgb(91, 130, 150);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.socials {
  margin-top: 20px;

}

.socials a {
  color: white;
  font-size: 24px;
  margin-right: 15px;
  text-decoration: none;
  transition: 0.2s;
}

.osuimg {
  margin-bottom: -6px;
  width: 30px;
  text-decoration: none;
  transition: 0.2s;
}

.clanimg {
  filter: invert(100%) grayscale(100%);
  margin-bottom: -3px;
  width: 27px;
  text-decoration: none;
  transition: 0.2s;
}

.socials a:hover {
  color: #1da1f2;
}

.socials img:hover {
  filter: invert(45%) sepia(91%) saturate(1268%) hue-rotate(177deg) brightness(100%) contrast(90%);
}

h2 {
  margin-top: 50px;
}

.skins {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: 15%;
  margin-top: 30px
}

.skin {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 10px;
  padding-inline: 20px;
  box-sizing: border-box;
  margin-bottom: 45px;
}

.skin img {
  margin-bottom: -6px;
  width: 100%;
  text-decoration: none;
  transition: 0.2s;
}

.download-link {
  color: white;
  border-radius: 5px;
}


.download-link:hover {
  color: #1da1f2;
}

@media (max-width: 768px) {
  .skins {
    margin-inline: 0%;
  }

  .skin {
    width: 80%;
  }
}