.nunito-font {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
}

/* Rainbow text (credit to https://stackoverflow.com/a/71909116) */
h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: min(10vh, 32px);
    font-family: "Nunito", sans-serif;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    animation: rainbow-animation 140s linear infinite;

}

h1::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 5px;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
    animation: rainbow-animation 140s linear infinite;
}

@keyframes rainbow-animation {
    to {
        background-position: 4500vh;
    }
}

body {
    font-family: "Nunito", sans-serif;
    background-color: #124951cb;
    height: 100%;
    margin: 0;
    justify-content: center;
    transition: background-color 0.5s ease;
    animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.skinbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-inline: 5%;
    height: 100%;
}

.skin {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-inline: 20px;
    box-sizing: border-box;
}

.skin img {
    margin: 10px;
    min-width: 180px;
    max-width: 380px;
    padding-top: 30px;
    height: auto;
    border-radius: 12px;
    filter: drop-shadow(20px 20px 10px rgb(34, 34, 34));
    transition: 0.5s;
    position: relative;
    text-align: center;
    color: white;
}

.skin img:hover {
    filter: blur(2px) drop-shadow(20px 20px 10px rgb(34, 34, 34));
    transform: translateY(10px) scale(1.15);

}

/* Overlay text */
.overlay-text {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-align: center;
    color: white;
    cursor: pointer;
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 1s;
}

.skin a {
    position: relative;
    /* Ensure the overlay is positioned relative to this */
}

/* Show the text when hovering over the image */
.skin a:hover .overlay-text {
    visibility: visible;
    opacity: 1;
}

.skin span a:not(.download-link) {
    background-color: rgb(126, 89, 89);
    display: block;
    border-radius: 12px;
    width: 200px;
    margin: 12px 0;
    text-align: center;
    font-size: 15px;
    color: black;
    font-weight: bold;
    cursor: default;
}

.download-link {
    background-color: #1c1f2b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 200px;
    height: 40px;
    margin: 10px 0;
    font-size: 15px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    transition: opacity 0.5s ease;
}

.download-link::after,
.download-link::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 2px;
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.8s ease;
    animation: rainbow-animation 300s linear infinite;
    animation-play-state: paused;
}

.download-link:hover::after,
.download-link:hover::before {
    animation-play-state: running;
    opacity: 1;
}